.weather-container {
  container-type: inline-size;
}

@container (min-width: 800px) and (max-width: 1500px) {
  .weather-app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns on large screens */
    gap: 15px;
  }
}

@container (min-width: 600px) and (max-width: 801px) {
  .weather-app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on medium screens */
    gap: 10px;
  }
}

@container (max-width: 599px) {
  .weather-app {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
    gap: 10px;
  }
}

.forecast-item:hover {
  background-color: aliceblue;
  color: blue;
}