.inventory {
    justify-content: center;
    margin: 2rem 1rem;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    min-height: 62vh;

    .content-container{
        display: flex;
        margin: 0 10%;
        /* padding: 0 0.5rem; */
        width: 80%;
        justify-content: space-between;
        align-items: flex-end;

        .filter-container {
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            background: lightgrey;
            border-radius: 0.5rem;

            .fs-btn {
                display: flex;
                align-items: center;
                gap: 0.2rem;
                font-weight: 700;
            }
        }
        .sort-container{
            cursor: pointer;
            padding: 0.5rem;
            font-size: 1.2rem;
            background: lightgrey;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            .fs-btn {}
        }
    }

    .inventory-header {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: whitesmoke;
        margin-bottom: 2rem;

        .inventory-search{
            width: -webkit-fill-available;
            height: 2.5rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            border: none;
            outline: none;
            font-size: 1rem;
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
            justify-content: space-between;
            display: flex;

            .filter-input{
                border: 1px solid black;
                padding: 0 1rem;
                border-radius: 0.5rem ;
            }
        }
    }

    .card-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .inventory {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;

        .content-container{
            position: sticky;
            bottom: 10%;
            z-index: 11;
            display: flex;
            justify-content: center;
            background: lightgray;
            margin: 1rem;
            transform: scale(0.9);
            align-self: center;
            border-radius: 2rem;
            max-width: 60%;
        }
        .card-container{
            margin: 1rem 0 0 0;
            gap: 2.5rem;

        }
    }
}