.card-details{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    min-height: 70vh;

    .details-body{
        display: flex;
        flex-direction: column;
        width: 90%;
        /* margin: 1rem; */
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        contain: content;

        .details-header{
            width:-webkit-fill-available;
            padding: 0 3rem;
            background-color: blue;
            color: white;
            text-align: start;

        }
        .details-main{
            display: flex;
            /* background: aliceblue; */
            /* padding: 0.5rem; */

            .partition{
                display: flex;
                flex-direction: column;
                text-align: left;

                .details-section{
                    
                    .detail-price{
                        display: flex;
                        gap: 0.5rem;
                        align-items: baseline;
                    }
                }

            }

            .details-desc{
                display: flex;
                flex-direction: column;

                .details-data{
                    font-weight: 700;
                    font-size: 1.2rem;
                    margin: 0.5rem 0.5rem;
                    align-items: start;
                    display: flex;
                    flex-direction: column;
                    
                    width: -webkit-fill-available;
                    justify-content: start;

                    .details-stepper{
                        padding: 1rem;
                        transform: scale(1.4,1.2);
                    }
                }
            }
            
            .details-img{
                width: 15rem;
                height: 10rem;
                contain: content;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                background-color: whitesmoke;
                box-shadow: 0 0 0.1rem 0.5rem rgba(0, 0, 0, 0.25);

                img{
                    width:  auto;
                    height: 100%;
                    padding: 0.5rem;
                }
            }

        }
    }
}
.partition {
    margin: 0 1rem;
    .details-section{
        .offers-list{
            .offer-item{
                padding: 0.2rem 0;
            }
        }
        .offer-icon{
            padding-right:0.2rem;
        }
    }
}